{% extends 'base.html' %}

{% block content %}

  <div class="container">
  <div class="row">
  <div class="col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-9 col-xs-offset-1">
     <form method="GET" action="{% url 'my_search' %}" class="search-form">
       <label for="id_name">Name:</label>{{ from.name.label_tag }}{{ form.name }}
       {{ form.price.label_tag }}
       <div>From 0 To:
         <input style="max-width: 80px;" type="text" id="show-price-input"></div>
       {{ form.price}}
       {{ form.ram.label_tag }}{{ form.ram }}
       {{ form.display.label_tag }}{{ form.display }}
       {{ form.os.label_tag }}{{ form.os }}
       {{ form.memory.label_tag }}{{ form.memory }}
       <div>{{ form.gps.label_tag }}{{ form.gps }}</div>
       {{ form.camera.label_tag }}{{ form.camera }}
       <div>
       </div>
       <input type="submit" value="Search">
     </form>
  <div class="search-results-container">
  </div>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-12">
  <div class="row">
  {% for result in object_list %}

    <div class="col-md-4 col-sm-4 col-xs-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{result.object.name}}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Price: {{ result.object.price }}</li>
          <li class="list-group-item">In stock: {{ result.object.in_stock }}</li>
          <li class="list-group-item">RAM: {{ result.object.ram }}</li>
          <li class="list-group-item">Display: {{ result.object.display }}</li>
          <li class="list-group-item">OS: {{ result.object.os }}</li>
          <li class="list-group-item">Builtin Memory: {{ result.object.memory }}</li>
          <li class="list-group-item">GPS: {{ result.object.gps }}</li>
          <li class="list-group-item">Camera: {{ result.object.camera }}</li>
        </ul>
      </div>
</div>
    </div>
    {% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row">
    {% endif %}

  {% endfor %}
    </div>
  </div>

  </div>
  </div>
      {% endblock %}